#include <windows.h>

// Application icon - path relative to source root
IDI_ICON1 ICON "mc.ico"

// Version information
VS_VERSION_INFO VERSIONINFO
FILEVERSION     1,2,6,0
PRODUCTVERSION  1,2,6,0
FILEFLAGSMASK   VS_FFI_FILEFLAGSMASK
FILEFLAGS       0x0L
FILEOS          VOS__WINDOWS32
FILETYPE        VFT_APP
FILESUBTYPE     VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "CompanyName",      "Minecraft"
            VALUE "FileDescription", "Minecraft Alpha 1.2.6 C++ Port"
            VALUE "FileVersion",     "1.2.6.0"
            VALUE "InternalName",    "Alpha126Cpp"
            VALUE "LegalCopyright",  ""
            VALUE "OriginalFilename", "Alpha126Cpp.exe"
            VALUE "ProductName",     "Minecraft Alpha"
            VALUE "ProductVersion",  "1.2.6.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END
